# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Node
node_modules/
dist/
dist-ssr/

# Environment files
.env
.env.*
!.env.example

# Editor directories and files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Misc
coverage/
*.sw?