@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

*{
  font-family: "Outfit", sans-serif;
}

@theme{
  --color-primary:#5044E5
}
#scroll-container {
  overflow: hidden;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}