@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

*{
  font-family: "Outfit", sans-serif;
}

@theme{
  --color-primary:#5044E5
}
#scroll-container {
  overflow: hidden;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.rest-tw, .rest-tw *{
  all:revert !important;
}

.cl-drawerRoot {
  z-index: 50;
}
/* In your global CSS */
/* Custom visible scrollbar for the left column */
.scrollable-left::-webkit-scrollbar {
  width: 10px;            /* scrollbar width */
}

.scrollable-left::-webkit-scrollbar-track {
  background: #E5E7EB;    /* light gray track */
  border-radius: 5px;
}

.scrollable-left::-webkit-scrollbar-thumb {
  background-color: #3B82F6; /* Tailwind blue-500 */
  border-radius: 5px;
  border: 2px solid #E5E7EB; /* padding around thumb */
}

.scrollable-left::-webkit-scrollbar-thumb:hover {
  background-color: #2563EB; /* darker blue on hover */
}
